.searchIcon {
  font-size: 32px !important;
}
.wrapper {
  height: 48px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.modalWrapper {
  background-color: #808080;
  height: 100px !important;
  width: 800px;
  position: absolute;
  left: 26%;
  text-align: center;
}

@media screen and (max-width: 880px) {
  .modalWrapper {
    width: 100%;
    left: 0;
  }
}
